html, body {
  min-height: 100vh;
}

body {
  //background: linear-gradient(45deg, rgba(114, 49, 71, 0.4), rgba(255, 255, 250, 0.3)), url("../img/flowers.jpg") no-repeat center;
  //background-size: cover;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

p {
  text-align: justify;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-weight: 200;
  color: #F39EB5;
}

.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome-menu {
  width: 70%;
  height: 70%; //border: 3px solid #A7304F;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bracket {
  color: #F39EB5;
  font-size: 20rem;
}

#welcome-menu ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
}

#welcome-menu ul li {
  padding-bottom: 10px;
}

#welcome-menu ul li a {
  color: #A7304F;
  font-size: 36px;
}

#welcome-menu ul li a:hover {
  text-decoration: underline;
}

#top-menu a.nav-link {
  color: #A7304F;
  font-size: 24px;
  font-weight: 400;
}

#top-menu .active {
  border: 1px solid #fff;
}

#top-menu a.nav-link:hover {
  color: #F39EB5;
}

.navbar-toggler {
  color: #A7304F;
}

#about {
  width: calc(60% + 30vw);
  margin: 15px auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-content {
  background-color: #fff;
  text-align: center;
}

#about-pic {
  max-width: 60%;
}

#about-contact {
  padding: 30px;
}

#about-contact a {
  color: #F39EB5;
  padding: 8px;
  ;
}

#about-contact a:hover {
  color: #A7304F;
}

.blockquote {
  border-left: 0.25rem solid #A7304F;
}

.blockquote p {
  font-style: italic;
}

#portfolio-content {
  margin: 0 auto;
  padding: 30px;
}

#portfolio-content .card-columns .card {
  border: none;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio-content .card-columns .card .card-block {
  border-top: 1px solid #f3f3f3;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}


}
